input.archersys-pdflint-filename{
  background-color: silver;
  border-radius: 5px;
  -moz-appearance: none;
   position: relative;
   right: -400px;
  width: 200px;
  color: navy;
  font-family: Segoe UI, Tahoma, Verdana;
  font-weight:bold;
  
    
}
.archersys-pdflint-panel{
  border: 1.5px solid navy;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: -moz-linear-gradient(to bottom,white, silver);
}
