thead  th{
font-family: Segoe UI;
background-color: teal;
color: white;
height: 4%;
width: 33.3%;
margin-left: 10px;
-webkit-user-select: none;

}
::selection {
    background-color: black;
    color: white;
}
input::-webkit-input-list-button
{
    font-family: Segoe UI;
}